@model Kenpo.Models.HomeViewModels.IndexViewModel

@section styles {
    <link rel="stylesheet" href="~/css/calendar.min.css">
    <style>
    #loader-bg {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: #000;
        z-index: 1;
    }
    #loader {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left: -100px;
        text-align: center;
        color: #fff;
        z-index: 2;
    }
    </style>
}

<div id="loader-bg">
  <div id="loader">
    <img src="~/images/img-loading.gif" width="80" height="80" alt="Now Loading..." />
    <p>Now Loading...</p>
  </div>
</div>
<div id="wrap">
    <h1>@Model.Header</h1>
    <div class="page-header">
		<div class="pull-right form-inline">
			<div class="btn-group">
				<button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt; Prev</button>
				<button class="btn btn-default" data-calendar-nav="today">Today</button>
				<button class="btn btn-primary" data-calendar-nav="next">Next &gt;&gt;</button>
			</div>
		</div>
		<h3>March 2013</h3>
	</div>
    <div id="calendar"></div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/vendor/underscore.min.js"></script>
    <script type="text/javascript" src="~/js/language/ja-JP.min.js"></script>
    <script type="text/javascript" src="~/js/calendar.min.js"></script>
    <script>
        $(function() {
            var h = $(window).height();
            $('#wrap').css('display','none');
            $('#loader-bg ,#loader').height(h).css('display','block');

            var calendar = $("#calendar").calendar(
                {
                    language: "ja-JP",
                    tmpl_path: "/tmpls/",
                    weekbox: false,
                    events_source: [],
                    first_day: 1,
                    views: {
                        day: { enable: false },
                        month: { enable: true }
                    },
                    onAfterViewLoad: function(view) {
                        $('.page-header h3').text(this.getTitle());
                        $('.btn-group button').removeClass('active');
                        $('button[data-calendar-view="' + view + '"]').addClass('active');
                    }
                });
            
            $.ajax({
                url: "/api/calendar/urls",
                success: function(urls){
                    stopload();
                    for(let i = 0; i < urls.length; i++) {
                        var url = urls[i];
                        $.ajax({
                            url: "api/calendar/events?url=" + url,
                            success: function(response) {
                                for(let j = 0; j < response.result.length; j++) {
                                    var event = response.result[j];
                                    calendar.options.events_source.push(event);
                                }
                                calendar.view();
                            }
                        });
                    }
                }
            });

            $('.btn-group button[data-calendar-nav]').each(function() {
                var $this = $(this);
                $this.click(function() {
                    calendar.navigate($this.data('calendar-nav'));
                });
            });
        });
        
        
        function stopload() {
            $('#wrap').css('display','block');
            $('#loader-bg').delay(900).fadeOut(800);
            $('#loader').delay(600).fadeOut(300);
        };
    </script>
}